- messageDatas = []
- message1 = {name: "saya", date: "2019/11/11（wed)", title: "おはよう", message_text:"今日は夜から雨"}
- message2 = {name:"mmm", date: "2022/2/22(mon)", title: "こんにちは", message_text:"アイウエオ"}
- messageDatas << message1
- messageDatas << message2

.main_chat
  .group_info
    .group_info__title
      .group_info__title__list
        = @group.name
        .group_info__title__list__lists-names
          = "Member:"
          - @group.users.each do |user|
            = user.name
      .group_box
        = link_to "Edit", edit_group_path(@group)


  
  .message_list
    .messages
      = render @messages



  .message_form
    = form_for [@group, @message] do |f|
      .message_form__box
        = f.text_field :content, class: "main_chat__type__text", placeholder: "type a message"
        = f.label :image, class: 'message_form_box_image' do
          = icon('fas','image')
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: "submit-btn", value: "Send"


