.side_bar
  .name
    .name__box
      .name__box__list
        = current_user.name
      .name__box__icon_list
        = link_to new_group_path do
          .name__box__icon_list__icon
            = link_to new_group_path do
              = icon('fa', 'edit')
          .name__box__icon_list__iconn
            = link_to edit_user_path(current_user.id) do
              = icon('fas', 'cog', class: 'icon')

  .groups_list
    - current_user.groups.each do |group|
      .groups_list__items
        = link_to group_messages_path(group) do
          .groups_list__items__name
            = group.name
          .groups_list__items__text
            = group.show_last_message
